In [192]:
# Google drive mout
# from google.colab import drive
# drive.mount('/content/drive')

In [193]:
# setting
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [194]:
# ls # 디렉토리 안의 파일과 디렉토리 보기

In [195]:
# pwd # 현재 디렉토리 보기

In [196]:
path = "drive/MyDrive/Colab Notebooks/Colab_git/data_kake/2022_kake_qt.csv"

In [197]:
df = pd.read_csv(path, encoding="cp949")
df

/usr/local/lib/python3.8/dist-packages/IPython/core/interactiveshell.py:3326: DtypeWarning: Columns (71,72) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,조사연월,가구일련번호,가구구분코드,가구원수,취업인원수,노인가구여부,모자가구여부,맞벌이가구여부,일반가구여부,세대구분코드,...,가계지출_소비지출_기타상품서비스_기타서비스금액구입비,가계지출_비소비지출금액,가계지출_비소비지출_경상조세,가계지출_비소비지출_비경상조세,가계지출_비소비지출_연금기여금,가계지출_비소비지출_사회보험료,가계지출_비소비지출_이자비용,가계지출_비소비지출_가구간이전지출금액,가계지출_비소비지출_비영리단체이전지출금액,도시여부
0,202214,1,1,3,2,0,0,1,0,2,...,0,889080,162150,0,195750,201180,300000,0,30000,1
1,202214,2,1,2,1,0,0,0,1,1,...,0,331160,34150,0,0,97010,0,200000,0,1
2,202214,3,2,5,4,0,0,1,0,2,...,5000,559435,100000,0,90000,242435,112000,5000,10000,1
3,202214,4,1,3,2,0,0,0,1,2,...,0,224181,0,0,0,86700,137481,0,0,1
4,202214,5,2,2,0,0,0,0,1,2,...,0,25000,0,0,0,0,0,0,25000,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19953,202234,6730,2,3,1,0,0,0,1,2,...,933,265640,1833,10667,131220,121920,0,0,0,0
19954,202234,6731,1,3,2,0,0,1,0,2,...,0,1027639,115277,0,117000,120250,478445,66667,130000,0
19955,202234,6732,1,2,1,0,0,0,1,1,...,0,2274331,1089153,154267,244500,359005,102406,0,325000,0
19956,202234,6733,2,2,2,1,0,1,0,1,...,0,1535947,477310,128333,0,186970,0,286667,456667,0
19957,202234,6734,1,2,2,0,0,1,0,1,...,0,2459933,579647,0,270000,277400,126220,1173333,33333,0

In [198]:
df = df[['소득','가계지출금액','가구주_학력코드','가구주_10차산업분류코드','가구주_7차직업분류코드'\
         ,'가계지출_소비지출_식료품비주류음료구입비','가계지출_소비지출_주류담배구입비','가계지출_소비지출_의류신발구입비'\
         ,'가계지출_소비지출_주거수도광열비','가계지출_소비지출_가정용품가사서비스이용금액','가계지출_소비지출_보건제품구입비'\
         ,'가계지출_소비지출_교통비','가계지출_소비지출_통신비','가계지출_소비지출_오락문화비','가계지출_소비지출_교육비'\
         ,'가계지출_소비지출_음식숙박비','가계지출_비소비지출금액']]
df.describe()

,소득,가계지출금액,가구주_학력코드,가계지출_소비지출_식료품비주류음료구입비,가계지출_소비지출_주류담배구입비,가계지출_소비지출_의류신발구입비,가계지출_소비지출_주거수도광열비,가계지출_소비지출_가정용품가사서비스이용금액,가계지출_소비지출_보건제품구입비,가계지출_소비지출_교통비,가계지출_소비지출_통신비,가계지출_소비지출_오락문화비,가계지출_소비지출_교육비,가계지출_소비지출_음식숙박비,가계지출_비소비지출금액
count,"19,958.00","19,958.00","19,958.00","19,958.00","19,958.00","19,958.00","19,958.00","19,958.00","19,958.00","19,958.00","19,958.00","19,958.00","19,958.00","19,958.00","19,958.00"
mean,"4,542,686.27","3,337,960.03",4.44,"387,382.68","37,357.93","115,201.05","288,963.16","116,827.26","232,295.25","295,276.03","115,378.12","146,896.10","169,285.71","353,122.44","878,715.73"
std,"3,924,925.96","2,871,660.25",1.54,"252,516.53","60,780.94","174,382.26","615,421.63","373,789.80","438,914.10","1,312,446.22","142,382.91","298,542.18","446,307.62","321,456.52","1,091,445.37"
min,0.00,"145,010.00",1.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
25%,"2,012,094.25","1,590,146.75",4.00,"199,955.00",0.00,"10,000.00","128,960.00","11,775.00","38,900.00","62,538.50","45,526.75","21,524.50",0.00,"108,237.25","212,250.50"
50%,"3,719,711.50","2,658,379.50",4.00,"337,961.50","9,645.00","52,695.00","215,565.00","37,441.50","106,700.00","155,000.00","84,986.00","59,442.50",0.00,"273,475.00","550,136.00"
75%,"6,062,100.25","4,275,673.50",6.00,"519,273.25","49,230.50","152,664.00","333,338.25","96,200.00","252,651.00","287,836.00","139,752.25","159,426.25","30,887.50","506,755.00","1,151,016.00"
max,"184,943,890.00","72,655,638.00",8.00,"3,296,900.00","1,676,897.00","5,237,800.00","37,857,290.00","19,463,460.00","11,075,900.00","57,026,400.00","3,121,711.00","9,712,780.00","5,948,600.00","4,195,363.00","20,834,710.00"

In [199]:
df.isna().sum()

소득                         0
가계지출금액                     0
가구주_학력코드                   0
가구주_10차산업분류코드              0
가구주_7차직업분류코드               0
가계지출_소비지출_식료품비주류음료구입비      0
가계지출_소비지출_주류담배구입비          0
가계지출_소비지출_의류신발구입비          0
가계지출_소비지출_주거수도광열비          0
가계지출_소비지출_가정용품가사서비스이용금액    0
가계지출_소비지출_보건제품구입비          0
가계지출_소비지출_교통비              0
가계지출_소비지출_통신비              0
가계지출_소비지출_오락문화비            0
가계지출_소비지출_교육비              0
가계지출_소비지출_음식숙박비            0
가계지출_비소비지출금액               0
dtype: int64

In [200]:
df.groupby('가구주_학력코드').mean()['소득']

가구주_학력코드
1   1,389,853.91
2   2,108,870.67
3   3,040,772.71
4   4,381,944.14
5   5,131,667.85
6   5,747,904.15
7   7,082,570.46
8   8,770,347.15
Name: 소득, dtype: float64

In [201]:
df.groupby('가구주_학력코드').mean()['소득'].reset_index()

   가구주_학력코드           소득
0         1 1,389,853.91
1         2 2,108,870.67
2         3 3,040,772.71
3         4 4,381,944.14
4         5 5,131,667.85
5         6 5,747,904.15
6         7 7,082,570.46
7         8 8,770,347.15

In [204]:
df.groupby('가구주_학력코드', as_index=False)['소득'].mean()

   가구주_학력코드           소득
0         1 1,389,853.91
1         2 2,108,870.67
2         3 3,040,772.71
3         4 4,381,944.14
4         5 5,131,667.85
5         6 5,747,904.15
6         7 7,082,570.46
7         8 8,770,347.15

In [202]:
df.groupby('가구주_학력코드').mean()[['소득','가계지출금액']]

                   소득       가계지출금액
가구주_학력코드
1        1,389,853.91 1,121,398.89
2        2,108,870.67 1,644,546.71
3        3,040,772.71 2,096,117.05
4        4,381,944.14 3,124,118.96
5        5,131,667.85 3,858,190.19
6        5,747,904.15 4,312,860.42
7        7,082,570.46 5,163,753.21
8        8,770,347.15 6,365,142.86

In [206]:
df['가구주_학력코드'].value_counts()

4    6446
6    5805
2    2182
3    2040
5    1944
7     834
1     520
8     187
Name: 가구주_학력코드, dtype: int64

In [207]:
df['가구주_학력코드'].value_counts().reset_index()

   index  가구주_학력코드
0      4      6446
1      6      5805
2      2      2182
3      3      2040
4      5      1944
5      7       834
6      1       520
7      8       187

In [208]:
df.groupby(['가구주_학력코드', '가구주_7차직업분류코드'], as_index=False)['소득'].mean()

    가구주_학력코드 가구주_7차직업분류코드            소득
0          1            2  4,727,500.00
1          1            4  1,843,008.28
2          1            5  2,959,109.40
3          1            6  1,528,961.42
4          1            7  2,680,647.00
..       ...          ...           ...
70         8            1 18,857,929.53
71         8            2  8,584,159.84
72         8            3  6,503,388.80
73         8            4  5,103,435.00
74         8            Z  4,267,670.59

[75 rows x 3 columns]